img {
    width: 100%;
}

p {
    color: #ECECEC;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-top: 1em;
    font-size: 1.2em;
    padding-left: 3em;
    padding-right: 3em;
}

.first_p {
    padding-top: 7em;
}

.last_p {
    padding-bottom: 10em;
}

.graphs {
    padding: 3em;
}

.collage {
    width: 100%;
    padding-top: 5em;
    padding-bottom: 3em;
}

.photo {
    padding-right: 8em;
    padding-left: 8em;
}

@media (max-width:700px) {
    .photo {
        padding: 3em;
    }

    p {
        font-size: .8em;
    }

    i {
        font-size: .6em;
    }

    .col-lg-8 {
        font-size: 70%;
    }

    .col-lg-4 {
        padding: 3em;
    }

    .first_p {
        padding-top: 2em;
    }

    .carousel {
        width: 100%;
    }
}

@media (min-width:1000px) {
    .graphs {
        padding-left: 10em;
        padding-right: 10em;
    }
}

footer {
    padding: 1.5em;
    background-color: #BFBFBF;
    position: absolute;
    width: 100%;
    padding-top: 3em;
}

.fa {
    padding: 10px 20px 0 0;
    font-size: 1em;
    text-decoration: none;
    color: black;
    text-align: center;
}

.a {
    text-decoration: none;
    color: #B50717;
}

.contact_icons {
    text-align: center;
}

.fa:hover {
    color: #B50717;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: black;
    text-align: center;
}


h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 1em;
}

.name {
    font-size: .8em;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    color: #B50717;
    padding-top: 2em;
    padding-bottom: 1em;
    text-align: center;
}

i {
    font-family: 'Libre Baskerville', serif;
    color: #BFBFBF;
    font-style: normal;
    margin-top: 5px;
}

.carousel {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-right: 2em;
    padding-left: 2em;
}

h3 {
    text-shadow: 4px 4px 6px black;
    font-family: 'Libre Baskerville', serif;
    color: white;
}

.banned_covers {
    padding-bottom: 2em;
}

.row {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 3em;
    padding-bottom: 3em;
}

h4 {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.3em;
    color: #BFBFBF;
    letter-spacing: .1em;
    line-height: 2em;
}

.col-lg-8 {
    color: #B50717;
}